<a href="https://colab.research.google.com/github/Chakaliravindra/python-basics/blob/main/PYTHON_BASICS_(1_15)_python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PYTHON BASICS

**Python**

**Day-1**

python is a programming language.
* we can develop application by using programming languages
* it is a high level language
* high level languages are developer friendly

father of python -**GUIDO VAN ROSSUM**  in the year 1989

features 
* simple & easy to learn
* high level language 
* platform independent 
* dynamically typed 
* procedure oriented & object oriented 
* extensive library

* IDLE : intigrated development learning environment 
* REPL : repl tool is responsible for reading , evaluating, printing, loop

---
---

**Day-2**

identifiers:
*  name in python progarm is called an identifier
* it can be variable name, class name, method name etc.

In [ ]:
a=10 
# a is a variable & it is called an identifier

rules to define the identifier
* a-z
* A-Z
* 0-9
* are are allowed but should not start with digit

* it is case sensitive

In [ ]:
total=10
Total=100
TOTAL=200
# all are different

In [ ]:
a=10

In [ ]:
if=10
# if is a key word so error

SyntaxError: ignored

list of reserved words/keywords(33 words)
* True, False, None, and, or, is, not, if, elif, else, while, for, break, continue, return, in, yield, try, except, finally, raise, assert, import, from, as, class, def, global, nonlocal, lambda, del, with

Note: only True, False & None are in upper case (T, F and N) (title case)

* lets wrire a program to calculate sum of 2 numbers

In [ ]:
a=10
b=20
print(a+b)

30

observation: we do not require to mention the datatype of the variable

In [ ]:
a=10
type(a)

int

observation: type is a function, which returns data type of the variable

In [ ]:
a=20.5
type(a)

float

In [ ]:
a=True
type(a)

bool

* dynamically variable changing the data type 
* opening brackets & closing brackets is called function eg., print()- having a functionality of printing.

python contains the following data types
* 1) int
* 2) float 
* 3) bool 
* 4) str 
* 5) bytes
* 6) complex 
* 7) bytearray
* 8) range 
* 9) list 
* 10) tuple 
* 11) set 
* 12) frozenset
* 12) dict
* 12) None

Function: function returns a specific value.

In [ ]:
a=10
type(a)

int

In [ ]:
id(a)

9793376

In [ ]:
print(a)

10

* type() -- returns data type of the variable
* id() -- returns address of the variable
* print() -- returns value of the variable

---
---

**Day-3**

* 1) String data type
* 2) multiline string literals
* 3) using index string
* 4) slice operator
* 5) len() function
* 6) positive indexing & negative indexing

String data type : is a sequence of characters.
* eg: ravi

we can represent in single quotes or double quotes
* eg: a='ravi'

In [ ]:
a='ravi'
type(a)

str

* Multiline string literals should be enclosed in triple quotes ('''python''')

In [ ]:
a=''' data.ai 
 technologies'''
print(type(a)) 
print(a)

<class 'str'>
 data.ai
 technologies

Indexing:
* how can i access characters of the string?
* we can access characters of the string, by using index

In [ ]:
a='ravi'
print(a[0])
print(a[1])
print(a[2])
print(a[3])

r
a
v
i

* Negative index

In [ ]:
print(a[-1])
print(a[-2])
print(a[-3])
print(a[-4])

i
v
a
r

Slice operator: 
* To get part of the string, we use slice operator

In [ ]:
a='sunil'
# i want the slice of the above index
# Eg i want uni syntax= a[beginindex:end_index]
a[1:4]  # it returns from begin index to end-1 index sunil=01234 (4-1=3)

'uni'

In [ ]:
# if you do not specify begin_index, then the default value is 0
print(a[:3])
 #if we do not specify end_index, then it will return all the characters till the end of the string
print(a[1:])
print(a[2:]) 
# if we do not specify begin_inedx & end_index, it returns entire string
print(a[ : ])

rav
avi
vi
ravi

len() function 
* returns length of the string

In [ ]:
print(len(a)) # giving count of all characters

5

In [ ]:
# i want to convert "sunil" to "Sunil" (1st letter capital)
print(a[0].upper())
print(a[0].upper()+a[1:])
# "+" is a concatination
b=print(a[0].upper()+a[1:])
b

S
Sunil
Sunil

* lets learn about positive indexing & negative indexing

In [ ]:
print(a[-1]) # sunil=(0,1,2,3,4)=(-5,-4,-3,-2,-1)
print(a[-1].upper())
b=a[0:len(a)-1] + a[-1].upper()
b

l
L

'suniL'

In [ ]:
a='ravi'
c=a.upper()
print(c)

RAVI

In [ ]:
d=a[0:3] + a[-1].upper()
d

'ravI'

---
---

**Day-4**

* '+' operator with strings 
* '*' operator with strings
* type casting
* using int()
* type casting function in python 
* int()

Understanding '+' operator with string

In [ ]:
a = 'sunil' + 'koppavarapu'
a

'sunilkoppavarapu'

* here "+"  working as a concatination

In [ ]:
a='sunil' + 5

TypeError: ignored

Note :
* both arguments should be strings

* Understanding '*' operator with string

In [ ]:
a='sunil'*3
a

'sunilsunilsunil'

In [ ]:
a=3 * 'sunil'
a

'sunilsunilsunil'

In [ ]:
a= 'sunil' * 'kumar'

TypeError: ignored

Type casting: used to convert value from one datatype to another datatype.
* the following are the typecasing functions in python
* * 1) int()
* * 2) float()
* * 3) bool()
* * 4) str()

 * 1) int() : used to convert values from otherdata type to integers

In [ ]:
# lets learn float to int
a= int(19.8)
a

19

In [ ]:
# bool to int
a=int(True)
b=int(False)
print(a)    # in python True=1, False=0 
b

1

0

* 2)float(): used to convert values from otherdata type to float

In [ ]:
# int to float
a= float(0) 
b=float(24)
print(a)
b

0.0

24.0

* 3) bool(): used to convert values from otherdata type to bool

In [ ]:
a=bool(10)
a

True

In [ ]:
a=bool(0)
a   # all values are True except 0 (0 is the only False value of bool)

False

* if the argument is 0, it returns False, otherwise True

In [ ]:
a=bool(' ')
a

True

* 4) str(): used to convert values from otherdata type to sring

In [ ]:
a=str(10)
a

'10'

In [ ]:
a=str(10.5)
a

'10.5'

In [ ]:
a=str(True)
a

'True'

In [ ]:
b=str(False)
b

'False'

---
---

**DAY-5**

* Fundamentals data types
* immutability
* collection data types
* list, tuple, set, frozen set, dict, byte, bytearray
* working with list
* mutable

Fundamentals data types
* int,float,bool,str, complex are called fundamental data types.
* fundamental data types are immutable.

immutability: unchangable, fixed, rigid.
* NOTE: once an object is created, it is immutable. ie, we can't make changes to the object. 
* when we try to perform perform any changes, a new object is created with those changes.
* non changable in nature is called immutablility.

what is an object ?
* everything in python is an object.
* variable is an object.
* function is an object.

In [ ]:
a=10
# now '10' is an object & a is a refering name 
print(a)
print(id(a)) # we acn print address of an object
a=a+1
print(id(a))
# NOTE: the old vlue 10 is elegible for garbage collection

10
9793376
9793408

In [ ]:
a=10
b=a
print(id(b))
b=b+1
print(a)
print(b)
print(id(a))
print(id(b)) # new object is created

9793376
10
11
9793376
9793408

* what is the need for immutability

In [ ]:
a=10
b=10
c=10
# how many objects are created ?
# only one object, can be referred by 3 names a, b & c
# to prove
print(id(a))
print(id(b))
print(id(c))

9793376
9793376
9793376

the advantage:
* memory utilization is imporved
* performance is improved

immutability also works with other fundamental data types also.

Collection data types : used to hold collection of values.
* 1) list
* 2) tuple
* 3) set
* 4) frozen set
* 5) dict
* 6) range
* 7) byte
* 8) bytearray

1) list
* ordered is allowed.
* allow duplicate values.
* represented by '[ ]' (square brackets)
* indexing allowed

In [ ]:
a=[10,'ravi',20,10,30]
print(a)
print(type(a))

[10, 'ravi', 20, 10, 30]
<class 'list'>

* the order in which we have provided the values, in the sam order we get the 
o/p.
* Note: heterogeneous values are allowed ( elements can be from different data type)

In [ ]:
print(a[0])
print(a[1])
a[-1]

10
ravi

30

* create an empty list

In [ ]:
a=[]
print(a)

[]

* append () is a method/function----- used to add elements to the list

In [ ]:
a.append(10)
a.append(20)
a.append(30)
a.append(40)
print(a)

[10, 20, 30, 40]

* remove() is a method/function----- used to remove elements. specify the value

In [ ]:
a.remove(30)
a

[10, 20, 40]

* list has mutable in nature

In [ ]:
a=[10,20,30]
print(id(a))
a[0]=50
print(id(a))
# we get the same address 
# list is mutable in nature

140073027808832
140073027808832

---
---

**DAY-6**

* tuple
* difference b/w list & tuple
* set
* frozen set
* dictionary

tuple: very similar to list. only difference is it is immutable
* it is read only version of list----tuple. 
* represented in "()"

In [ ]:
a=(10,20,30,40)
print(type(a))
print(a[0])
print(a[-1])

<class 'tuple'>
10
40

* we can't change the tuple

In [ ]:
a[1]=10

TypeError: ignored

* can i use append() & remove() to tuple

In [ ]:
a.append(50)

AttributeError: ignored

In [ ]:
a.remove(50)

AttributeError: ignored

differences:
* list is mutable ---- tuple is read only
* performance is less in list --- performance is better in tuple
* if the content in the application is changing, list is used --- if the content in the application is cannot be modified, tuple is used

set:
* duplicates are allowed
* order is not preserved, indexing is also not allowed.
* heterogeneous elements are allowed.
* represented in "{ }"

In [ ]:
a={10,20,30,40,50}
print(type(a))
print(a)

<class 'set'>
{40, 10, 50, 20, 30}

NOTE: 
* duplicates are not considered.

In [ ]:
b={10,10}
b

{10}

* order is not important.

In [ ]:
a={10,20,30,40,'sunil'}
print(a)

{40, 10, 20, 'sunil', 30}

* indexing is not applicable

In [ ]:
a[0]

TypeError: ignored

* adding elements to the set by using "add()" & remove()also works

In [ ]:
a.add(50)
print(a)
a.remove(50) 
a # so set is mutable

{40, 10, 50, 20, 'sunil', 30}

{10, 20, 30, 40, 'sunil'}

append() VS add()

In [ ]:
a=[10,20,30]

a.append(40)
print(a)

[10, 20, 30, 40]

* append always add new elements in the end.
* in set, as order is not applicable.
* add() --- terminology is ideal
* append: add elements at the end

frozenset:
* it is same as set.
* it is immutable. this means that we can't make changes to frozenset.
* how to create frozen set ?

In [ ]:
a={10,20,30,40}
b=frozenset(a)
print(type(a))
print(type(b))
b

<class 'set'>
<class 'frozenset'>

frozenset({10, 20, 30, 40})

In [ ]:
b.add(23)

AttributeError: ignored

In [ ]:
b.remove(10)

AttributeError: ignored

* add, remove con't be used with frozenset (immutable)

dict:
* used to hold the values in the form of key value pair
* lefthand side value of : is key
* righthand side value of : is value

In [ ]:
a={100:'sunil',200:'ravi',300:'vijay'}
print(a)
print(type(a))

{100: 'sunil', 200: 'ravi', 300: 'vijay'}
<class 'dict'>

* create a empty dict

In [ ]:
a={}
a

{}

In [ ]:
a[100]='sunil'
print(a)
print(type(a))

{100: 'sunil'}
<class 'dict'>

NOTE: order is not applicable
* in dict there is no add/append , remove.
* duplicate key are not allowed. duplicate values are allowed only.

In [ ]:
a[200]='ravi'
a

{100: 'sunil', 200: 'ravi'}

In [ ]:
a[100]='abc'
a # old value is replaced with new value

{100: 'abc', 200: 'ravi'}

In [ ]:
a[300]:'ravi'
print(a)

{100: 'abc', 200: 'ravi'}

important points about dict
* used to represents key value pairs
* order is not preserved
* duplicate ket not allowed
* duplicate values are allowed.

In [ ]:
b={100:'sunil',200:'ravi',300:'ravi'}
b

{100: 'sunil', 200: 'ravi', 300: 'ravi'}

---
---

**Day-7**

* range data type
* different ways to create range object
* None data type    
* Escape characters

range: used to represent sequence of numbers

In [ ]:
a=range(10)
print(a)
print(type(a))
# to get the values in the range, we should use loops
for x in a:
  print(x)

range(0, 10)
<class 'range'>
0
1
2
3
4
5
6
7
8
9

how many ways we can create a range object.
* 1. range(n) --- (0 to n-1)as we used above
* 2. range(begin, end) --- we get from begin to end-1.

In [ ]:
a=range(50,60)
a  # (50 to 59)
for x in a:
  print(x)

50
51
52
53
54
55
56
57
58
59

* 3) range(begin, end, increment)

In [ ]:
a=range(1,21,2) # ( 1 to 20 with an increment of 2)
for x in a:
  print(x)

1
3
5
7
9
11
13
15
17
19

* can we have decrement values

In [ ]:
a=range(20,1,-2)
for x in a:
  print(x)

20
18
16
14
12
10
8
6
4
2

NOTE:
* order is preserved, so index is allowed

In [ ]:
a=range(10,21)
print(a[0])
print(a[1])
print(a[-1])

10
11
20

In [ ]:
a[1]=75

TypeError: ignored

NOTE:
* range object is immutable

None data type:
*  None means? --- no value 
* in application, we have to handle no value/ nil values, in such cases we use None data type.

In [ ]:
a=10
print(id(a))
print( type(a))
a=None
print(id(a))
print( type(a))
print(a)

9793376
<class 'int'>
9488912
<class 'NoneType'>
None

NOTE: 
* to make an object eligible for garbage collection, we use None.

In [ ]:
a=10
b=None
print( type(a))
print( type(b))
print(a)
print(b)

<class 'int'>
<class 'NoneType'>
10
None

NOTE: 
* None is also  an object

In [ ]:
a=10
b=20
c=19

In [ ]:
a=None
b=None
c=None
print(id(a),id(b),id(c)) # by this eg None is created only once

11124224 11124224 11124224

NOTE:
* we can create only one(1) None object

Escape characters:
* these characters will have special functionality

In [ ]:
print('logiclabs')
print('logic\tlabs') # for tab we use "\t"
print('logic\nlabs') # for printing in another line 
print('logic\blabs')  
print('sunil1234567\rlogiclabs')
print('logic\'labs')  
print('logic\"labs')

logiclabs
logic	labs
logic
labs
logiclabs
logiclabs
logic'labs
logic"labs

In [ ]:
print('sunil1234567\logiclabs')
 # override

sunil1234567\ologiclabs

---
---

**Day-8**

* Arithematic operations
* power operator
* "+" operator with strings
* operator with strings
* zero division error 
* relational operators
* equality operator

Arthematic operators:
* "+", "-", "*", "/", "%", (modulus)
* "/" ---division operator
* "//" --- floor division operator
* "*" --- multiplication operator
* "**" --- exponential operator/ power operator

In [ ]:
a=10
b=2
print(a+b)
print(a-b)
print(a*b)
print(a%b) #--- it gives reminder (modulus)
print(a/b) # in python , division operator returns quotient(floating number)
print(a//b)

12
8
20
0
5.0
5

NOTE: in python, division operator returns float point value.

* "//" -- floor division operator (it will give without decimals)

In [ ]:
print(10/3)
print(10//3)  # numerator or denominator are int 
print(10.0//3) # returns float values
print(20.5/2)
print(20.5//2)

3.3333333333333335
3
3.0
1000
10.25
10.0

* power (**) operator:

In [ ]:
print(10**2)  # 10 to the power of 2
print(3**4)

100
81

* "+" operator for strings (concatination)

In [ ]:
print('anil'+'kumar')

anilkumar

In [ ]:
print('ravi' +5)

TypeError: ignored

NOTE:
* cannot concatinate string to number

* same data types for doing operations

In [ ]:
print('ravi' +'5')  # both are string data type

ravi5

* "*" operator with strings

In [ ]:
print('ravi'*3)

raviraviravi

In [ ]:
print('ravi'*'anil')

TypeError: ignored

NOTE:
* for multiplication one argument should be int

zero divison error:
* when we try to devide by zero, we get zero devision error

In [ ]:
print(10/0)

ZeroDivisionError: ignored

In [ ]:
print('ravi' * True) 
print('ravi' * False) # nothing getting

ravi

NOTE: 
* True is represented by 1
* False is represented by 0

relational operator:
* ">", ">=", "<", "<=" 
* always gives boolean values

In [ ]:
a=10
b=20
print(a<b)
print(a>b)
print(a<=b)
print(a>=b)

True
False
True
False

* ord() -- returns unicode value

In [ ]:
# ascii value
print(ord('a'))
print(ord('A'))
print(ord('b'))
print(ord('B'))

97
65
98
66

* char value -- returns the character of the unicode values

In [ ]:
print(chr(97))
print(chr(65))
print(chr(98))
print(chr(66))

a
A
b
B

* multiple comparision operator

In [ ]:
print(10<20<30) # (T<T)
print(10<20<30<40)
print(10<20<30<40>50)
print(10>20<30<40>50)

True
True
False
False

* equality operator

In [ ]:
print(10==20) # comparision operator
print(10!=20) # not equal operator
print('ravi'=='ravi')

False
True
True

* "is" opearator

In [ ]:
a=10
b=10
print(a is b)
print(b is a)

True
True

* when "is" operator returns True?
* when a, b are points to the same object

In [ ]:
print(id(a))
print(id(b)) # we getting same address

9793376
9793376

* "is" opearator performs address  comparition
* what is the difference b/w is & == operator

In [ ]:
a=[10,20,30]
b=[10,20,30]
print(id(a))
print(id(b))
print(a is b)  # here addresses are different so 2 are different

139866350147520
139866349831232
False

* as address is diffenent , it returns false.

In [ ]:
print(a==b)

True

NOTE:
* "==" operator is used for value comparition

* the way fundamental data types & collection data types are different.
* "is" operator is differ with respect to data types. it perform different.

---
---

**Day-9**

* Logical opearators:
* * 1.AND
* * 2.OR
* * 3.NOT
* behavior of logical opearators on boolean data type
* behavior of logical opearators on non boolean data type

logical operators: we have 3 logical operators
* 1)AND
* 2)OR
* 3)NOT

behavior of logic operators on boolean data types:
 * 1) AND

In [ ]:
print(True and True)
print(False and True)
print(True and False)
print(False and False)

True
False
False
False

* only "True AND True" always gives True

* 2) OR

In [ ]:
print(True or True)
print(False or True)
print(True or False)
print(False or False)

True
True
True
False

* only "False OR False" always gives False

* 3) NOT

In [ ]:
print(not True)
print(not False)

False
True

* a simple authentication application: program which accepts username & password from keyword.
* username - Ravi, password - logiclabs
* i should get o/p as--- valid user , otherwise --- invalid user.

In [ ]:
a = input('enter username: ')
b = input('enter password: ')
if a=='Ravi' and b=='logiclabs':
  print ('valid user')
else:
  print('invalid user')

enter username: ravi
enter password: labs
invalid user

In [ ]:
a = input('enter username: ')
b = input('enter password: ')
if a=='Ravi' and b=='logiclabs':
  print ('valid user')
else:
  print('invalid user')

enter username: Ravi
enter password: logiclabs
valid user

Behavior of logical operators on non-boolean data types

NOTE:
* "0" means ---(False), nono zero ---- means (True)
* empty string,list,set,tuple,dict----(False)

AND : 1) x and y -----> result is x or y (but not boolean)
* if x is evaluates to False---> then result is x
* if x is evaluates to True---> then result is y

In [ ]:
print(10 and 20) #--20
print(0 and 19)  #--0
print('logic' and 'labs')
print('' and 'labs')   #--no value ('')

20
0
labs

OR : x or y  ------> result is x or y (not boolean)
* if x is evaluates to True---> then result is x
* if x is evaluates to False ---> then result is y

In [ ]:
print(10 or 20)
print(0 or 20)
print('' or 'ravi')
print('logic' or 'labs' )

10
20
ravi
logic

NOT Opearator:
* NOT opearator always returns boolean

In [ ]:
print(not 'ravi') 
print(not '')
print(not 0)
print(not 10)

False
True
True
False

---
---

**Day-10**

* understanding modules:
* create a module
* using module in python files
* naming conventions (good practice)
* understanding inbuilt modules
* how to know the functions available in inbuilt modules
* using inbuilt module
* creating alias name for module
* importance of from keyword when importing module

module:
* module is file which is a collection of variables and functions
* creating a function by using "def"

In [ ]:
a=888
b=999
def c(a,b):
  print(a+b)
def d(a,b):
  print(a*b)
c(2,3)
d(2,3)

5
6

user define function:

In [ ]:
c(2,3) # using c function in another file

5

* its always good practice to have meaningful names to the functions.
* lets rename c with add
* lets rename d with prod

In [ ]:
a=888
b=999
def add(a,b):
  print(a+b)
def prod(a,b):
  print(a*b)

In [ ]:
add(2,3)
prod(2,3)

5
6

Advantage:
* code reusability.

Inbuilt modules:
* python is having pre-defined modules. pre-define modules are called inbuilt modules
* we can use the functions from the inbuilt modules, as per the requirements.
* eg: 1) math, 2) random, 3) time, threading and many more

* how to know the functions available in a perticular module.

In [ ]:
import math
print(dir(math)) # it returs list

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [ ]:
print(math.sqrt(25))
print(math.pi) # pi is a variable 
print(math.floor(2.9)) 
print(math.ceil(2.9))
print(math.pow(2,5))

5.0
3.141592653589793
2
3
32.0

* we can create alias name for using "as" key word

In [ ]:
import math as m
print(m.pow(3,2))

9.0

* we can create alias name for module using "as" key word
* if we create alias name, we can not use module name

In [ ]:
print(math.pow(3,2))

9.0

NOTE: once alias is created. we should not use module name.

**"from"**  key word
* using from key word without calling module

In [ ]:
from math import sqrt
print(sqrt(25))

5.0

NOTE:
* if you do not want to use module name / as alias name, we can use the above syntax

In [ ]:
from math import sqrt
print(sqrt(25))
print(pi)

5.0

NameError: ignored

* error occured because, we imported only sqrt
* change the code

In [ ]:
from math import sqrt,pi
print(sqrt(25))
print(pi)

5.0
3.141592653589793

*  "*" used for import all functions in module without calling
* to directly use all the functions & constants

In [ ]:
from math import *
print(sqrt(25))
print(pi)
print(pow(2,5))

5.0
3.141592653589793
32.0

---
---

**Day-11**

* Creating alias for function
* Creating alias for variable
* latest import line is considered(???)
* input statement
* understanding bool() type casting
* importance to eval()
* eval() for expressions

* creating alias from function

In [ ]:
from math import sqrt as s
print(s(25))

5.0

* math is module
* sqrt is a function ("pi" is a variable)
* alias for functions as well as variables

In [ ]:
from math import sqrt as s, pi as p
print(s(25))
print(p)

5.0
3.141592653589793

* latest import line is considered
* most recent import statement is considered.

In [ ]:
from math import * # 1 math
from math import * # 2 math
print(sqrt(4))
# here 2nd math is considered

2.0

input & output statements:
* input(): function used to accept values from keybord. 
* always returns string ("str")

In [ ]:
x=input('enter your age')
print(type(x))
print(x)

enter your age67
<class 'str'>
67

* accept 2 numbers & display sum

In [ ]:
a=input('enter first  number: ')
b=input('enter second number: ')
c=int(a)
d=int(b)
print('sum of two numbers', c+d)

enter first  number: 2
enter second number: 3
sum of two numbers 5

* the above code will be improved. we can combine line 1 & line 3

* Nesting

In [ ]:
a=int( input('enter first  number: '))
b=int( input('enter second number: '))
print('sum of two numbers is', a+b)

enter first  number: 4
enter second number: 4
sum of two numbers is 8

In [ ]:
eno=int(input('enter employ no: '))
ename=input('enter emp name: ')
esal=float(input('enter emp sal: '))
eaddr=input('enter emp address: ')
married=bool(input('emp married? [True|False: '))
print('emp married?: ',married )

enter employ no: 101
enter emp name: ravi
enter emp sal: 12000
enter emp address: bangalore
emp married? [True|False: False
emp married?:  True

* in the above code we are getting True instead of False

eval:
* is a single function ,which can be used as a replacement of all type casting functions.
* importance of evaluate("eval") function

In [ ]:
married=eval(input('emp married? [True|False]: '))
print('emp married?:',married )

emp married? [True|False]: False
emp married?: False

* eval() automatically converts correct data types

In [ ]:
a=eval( input('enter first  number '))
print(type(a))

enter first  number 45.6
<class 'float'>

In [ ]:
a=eval( input('enter first  number '))
print(type(a))

enter first  number 3566
<class 'int'>

In [ ]:
a=eval( input('enter first  number '))
print(type(a))

enter first  number False
<class 'bool'>

 * 2nd functionality of eval function: as name suggests, it can evaluate expressions (calculates)

In [ ]:
x=eval('10+20+30')
print(x)

60

---
---

**Day-12**

* Command line arguments
* understanding sys module & argv variable
* data type of command line arguments
* output statements
* possibilities of print() function
* using repalcement operator
* print() with formatted string
* using format specifier( %i, %f, %s)

command line arguments:
* used to pass values from the command prompt.
* sys-- it is a predefined module in python
* sys module contains one variable -argv. using this variable , command line arguments are read.
* argv is of type list.

* understanding sys module and arg variable

In [ ]:
from sys import argv
print(type(argv))

print(argv[0])

<class 'list'>
/usr/local/lib/python3.9/dist-packages/ipykernel_launcher.py

In [ ]:
from sys import argv
print(type(argv))

print(argv[0]) 
print(argv[1]) 
print(argv[2]) 
print(argv[3]) 
print(argv[4])

<class 'list'>
/usr/local/lib/python3.9/dist-packages/ipykernel_launcher.py
-f
/root/.local/share/jupyter/runtime/kernel-74cb2d75-a219-44f0-a363-8d3f508a22d4.json

IndexError: ignored

In [ ]:
from sys import argv

print(argv)

print('the number of arguments:', len(argv))

print('list of command line arguments:', argv)

print('command line arguments one by one:')

['/usr/local/lib/python3.9/dist-packages/ipykernel_launcher.py', '-f', '/root/.local/share/jupyter/runtime/kernel-74cb2d75-a219-44f0-a363-8d3f508a22d4.json']
the number of arguments: 3
list of command line arguments: ['/usr/local/lib/python3.9/dist-packages/ipykernel_launcher.py', '-f', '/root/.local/share/jupyter/runtime/kernel-74cb2d75-a219-44f0-a363-8d3f508a22d4.json']
command line arguments one by one:

from sys import argv

print(argv)

print('the number of arguments:', len(argv))

print('list of command line arguments:', argv)

print('command line arguments one by one:')

O/P:
* D:\python>python hello1.py 10 20 30 40
* ['hello1.py', '10', '20', '30', '40']
* the number of arguments: 5
* list of command line arguments: ['hello1.py', '10', '20', '30', '40']
* command line arguments one by one:

len()----returns length of the list
* space is seperator b/w command line arguments
* if arguments itself contains space then we should enclosed within double quotes.

* command line arguments are in "str" form

In [ ]:
from sys import argv
print(argv[1]+argv[2])

-f/root/.local/share/jupyter/runtime/kernel-dc83a950-5973-49f5-a2b3-119347d36838.json

O/P:

D:\python>python 1.py 10 20
 
 1020

* from sys import argv
* print(int(argv[1])+int(argv[2]))
* print(eval(argv[1])+eval(argv[2])) 
 
 * D:\python>python 1.py 10 20
 * 30
 * 30

from sys import argv

print(argv[100])

* D:\python>python 2.py
* Traceback (most recent call last):
* File "D:\python\2.py", line 3, in <module>
*   print(argv[100])

*IndexError: list index out of range

Output statements

print()--get the o/p on the screen

NOTE:
* 1) importance of double quotes in command line arguments.
* 2) default type is str

In [ ]:
print('abc')
print() # empty space 
print('efg')

abc

efg

* empty print function ,always gives a new line.

In [ ]:
print('hello\nworld')
print('hello\tworld')
print('hello'+'world')
print(10* 'hellow')
print('hellow' * 10)

hello
world
hello	world
helloworld
hellowhellowhellowhellowhellowhellowhellowhellowhellowhellow
hellowhellowhellowhellowhellowhellowhellowhellowhellowhellow

* used to print values in the variables

In [ ]:
a,b,c =10,20,30
print('the values are :', a,b,c)

the values are : 10 20 30

* we can pass any object (like list, tuple, set etc.) as argument to the print() statement.

In [ ]:
a=[10,20,30,40]
b=[10,20,30,40]
print(a)
print(b)

[10, 20, 30, 40]
[10, 20, 30, 40]

Replacement opearator"{}":
* print the statement with replacement operator

In [ ]:
a='ravi'
b=10000
print('hello',a, 'your salary is',b )

hello ravi your salary is 10000

In [ ]:
print('hello {} , your salary is {}'.format(a,b))

hello ravi , your salary is 10000

* we can also use index in replacement opearator.

In [ ]:
print('hello {0} , your salary is {1}'.format(a,b))

hello ravi , your salary is 10000

In [ ]:
name='ravi'
salary=10000
print('hello {n} , your salary is {s}'.format(n=name,s=salary))

hello ravi , your salary is 10000

advantage:
* order is not important, when we use above format.

print() with formatted string
* using foramt specifier( %i, %f, %s)

* formatted intiger approach

In [ ]:
a=10
print('a value is',a)
print('a value is %i'%a)

a value is 10
a value is 10

In [ ]:
a=10
b=20
c=30
print('a=',a,'b=',b,'c=',c)
print('a=%i,b=%i,c=%i' %(a,b,c)) # simple than above one

a= 10 b= 20 c= 30
a=10,b=20,c=30

NOTE:
* what is importance of %i

format specifiers:
* %i---is format specifier of signed intiger value. 
* %f---is format specifier for float value.
* %s---is format specifier for string value.

* formatted string approach

In [ ]:
a='ravi'
b='bangalore'
print('hello %s your live in %s' %(a,b))

hello ravi your live in bangalore

* Compare replacement opearator with formatted approach(float)

In [ ]:
a=70.456542
print('value of a is {}'.format(a)) # replacement opearator
print('value of a is %f'%a)   # formatted approach

value of a is 70.456542
value of a is 70.456542

* both are behaving same but formatted string is more efficient

* formatted float approach

In [ ]:
print(' value of a is %.2f'%a) # print two decimals
print(' value of a is %.3f'%a) # print three decimals

 value of a is 70.46
 value of a is 70.457

---
---

**Day-13**

* flow control
* * 1) select statements
* * 2) itearative statements
* * 3) transfer statements (break,continue)
* conditional statements
* * if-else
* * if-elif-else

Indentation

* indent is an empty space at the beginning of a line to signal the start of a new paragraph

If statement 

* is used to define a block.

* indentation is used to represent the block of code.



    if condition:
           statement1
           statement2
           statement3
    statement4

* when we do not follow indentation, we get indentation error.

* when we do not provide indentation, indentation error occurs.

In [ ]:
if 10<20:
print('hello1')

IndentationError: ignored

In [ ]:
print('hello1')
print('hello2')
if 10>20:
  print('hello3')
  print('hello4')
print('hello5')

hello1
hello2
hello5

In [ ]:
print('hello1')
print('hello2')
a=input('enter your name: ')
if a=='ravi':
  print('hello3')
  print('hello4')
print('hello5')

hello1
hello2
enter your name: raju
hello5

In [ ]:
print('hello1')
print('hello2')
a=input('enter your name: ')
if a=='ravi':
  print('hello3')
  print('hello4')
print('hello5')

hello1
hello2
enter your name: ravi
hello3
hello4
hello5

1.If-else statement:

In [ ]:
a=input('enter name: ')
if a=='ravi':
  print('hello ravi')
else:
  print('hello guest')
print('how are you doing')

enter name: raju
hello guest
how are you doing

 2.If-elif-else:
 * multiple conditions are implemented such time we use

In [ ]:
a=input('enter your favourite colour: ')
if a=='blue':
  print('you like sky ')
elif a=='green':
  print('you like nature ')
elif a=='red':
  print('you like fire ')
else:
  print('hello guest')

enter your favourite colour: dgh
hello guest

In [ ]:
a=input('enter your favourite colour: ')
if a=='blue':
  print('you like sky ')
elif a=='green':
  print('you like nature ')
elif a=='red':
  print('you like fire ')
else:
  print('hello guest')

enter your favourite colour: green
you like nature

* in If-elif-else--- else is optional (if we do not have default action, we can avoid else

* program to find biggest of given 2 numbers

In [ ]:
n1=int(input('enter 1st number: '))
n2=int(input('enter 2nd number: '))
if n1>n2:
  print('biggest number is: ,n1')
else:
  print('biggest number is:,n2')

enter 1st number: 3
enter 2nd number: 4
biggest number is: ,n2

* program to take a single digit number from the key board & print is value in english word

In [ ]:
n=int(input('enter a digit from 0 to 9: '))
if n==0:
  print('ZERO')
elif n==1:
  print('ONE')
elif n==3:
  print('THREE')
elif n==4:
  print('FOUR')
elif n==5:
  print('FIVE')
elif n==6:
  print('SIX')
elif n==7:
  print('SEVEN')
elif n==8:
  print('EIGHT ')
elif n==9:
  print('NINE')
else:
  print('PLEASE ENTER A DIGIT FROM 0 TO 9')

enter a digit from 0 to 9: 7
SEVEN

Itearative statements:

1) For Loop:
* if we want to execute some action for every element in some sequence (it may be string or collection))

In [ ]:
s='ravi'
for x in s:
  print(x) # loop will execute 4 times

r
a
v
i

In [ ]:
s='ravi'
for x in s:
  print('hello') # loop will execute 4 times

hello
hello
hello
hello

* to print hello 10 times

range function:
* when ever we want to execute fixed times

In [ ]:
for x in range(4):
  print('hello')

hello
hello
hello
hello

* range function is used to run the loop specific no of times

In [ ]:
for x in range(11):
  print(x)

0
1
2
3
4
5
6
7
8
9
10

* range in between: range(start,end)

In [ ]:
for x in range(5,11):  
  print(x)

5
6
7
8
9
10

* increment by 2 : range(start,end,increment by)

In [ ]:
for x in range(5,11,2): 
  print(x)

5
7
9

* to print odd numbers range(21)

In [ ]:
for x in range(21):
  if (x%2!=0):
    print(x)

1
3
5
7
9
11
13
15
17
19

* To print sum of numbers present inside list

In [ ]:
a=eval(input('enter list'))
sum=0;
for x in a:
  sum=sum+x;
print('the sum=',sum)

enter list[10,20,30,40]
the sum= 100

while loop:
* To execute a group of statements iteratively until some condition false

* To print numbers from 1 to 10 by using while loop

In [ ]:
x=1
while x<=10:
  print(x)
  x=x+1

1
2
3
4
5
6
7
8
9
10

nested loop: (one loop in another loop)

In [ ]:
for i in range(3):
  for j in range(3):
    print('i=',i, 'j=',j)

i= 0 j= 0
i= 0 j= 1
i= 0 j= 2
i= 1 j= 0
i= 1 j= 1
i= 1 j= 2
i= 2 j= 0
i= 2 j= 1
i= 2 j= 2

 There are two transfer statements: 1)break 2)continue

 1) break: (used to break loop execution based on some conditions.)

In [ ]:
for i in range(10):
  if i==7:
    print('processing is enough..plz break')
    break
print(i)

processing is enough..plz break
7

2) continue: (we can use continue statement to skip current iteration)

* To print odd numbers in the range 0 to 9

In [ ]:
for i in range(10):
  if i%2==0:
    continue
  print(i)

1
3
5
7
9

---
---

**DAY-14**

* pass statement
* Del statement
*diff b/w Del and None 
* Understanding functions
* creating function and calling it 
* function with return statement

pass statement:
* it is a keyword in python. used to represents empty block (when ever you want to represent a empty block pass is used)

In [ ]:
x=100
if x>10:
  print('hello')
else:

IndentationError: ignored

In [1]:
x=100
if x>10:
  print('hello')
else:
  pass

hello

* once clint confirms the functionality of else, then we edit the code as per requirements

del statement: it is a keyword in python.
* when we do not need a variable, we use delete statement
* the corresponding object will be elegible for garbage collection

In [ ]:
x=10
print(x)
del x   # x is deleted

print(x)

10

NameError: ignored

we get NameError
* once variable is deleted, we cannot access it.

NOTE:
* helps in improving performance of the application.

diff b/w del and none
* 1) in case of del,once the variable is deleted, we cannot access that variable 

* 2) in case of None assignment, the variable won't be removed. variable points to  the none object, hence we can access that variable

In [ ]:
x=10
print(x)
x=None
print(x)
print(type(x))

10
None
<class 'NoneType'>

Functions:
* a function is a group of related statements that performs a specific task
* functions help break our program into smaller and modular chunk.
* as our program grows larger & larger, functions make it more organized & manageable. furthermore, it avoids repetition & makes the code reusable.

the main advantage of functions is code reusablility. in other languages functions are known as methons,procedures,subroutines etc.

python support 2 types of functions:
* 1) Built in functions 
* 2) User define functions 

1) Built in functions: the function which are coming along with python software automatically, are called BIF or pre define functions(PDF).
* eg
* * id()
* * type()
* * input()
* * print()

2) User define functions:
* the functions which are developed by programmer explicitly accroding to business requirements, are called UDF.

while creating functions we can use 2 keywords
* 1) def (mandatory)
* 2) return (optional)

In [ ]:
def wish():
  print('hello good morning ')

* function name can be any thing.

* calling function

In [ ]:
wish()
wish()

hello good morning
hello good morning

return statement:
* function can take input values as parameters & executes business logic, and returns output to  the caller with return statements.

In [ ]:
def f1(x,y):
  return x+y
c=f1(10,20)
print('the sum is',c)

the sum is 30

In [ ]:
def f1():
  print('hello')
f1()

hello

* if we are not writing return  statement then default return value is none.

In [ ]:
def f1():
  print('hello')
f1()
print(f1())
print(type(f1))

hello
hello
None
<class 'function'>

---
---

**Day-15**

* functions can return multiple values
* formal arguments
* actual arguments
* types of actual arguments:
* * 1) positional arguments
* * 2) keyword arguments
* * 3) Default arguments
* * 4) Variable length arguments

Types of variables:
* * global variable
* * local variable

* functions can return multiple values

In [ ]:
def add(x,y):
  return x+y
c=add(10,20)
print('the sum is',c)

c=add(100,20)
print('the sum is',c)

the sum is 30
the sum is 120

In [ ]:
def even_odd(num):
  if num%2==0:
    print(num,'is even number')
  else:
    print(num,'is odd number')
even_odd(10)

even_odd(15)

10 is even number
15 is odd number

Returning multiple values from a function:
* In other languages like c,c++,java, function can return only one value.
* but in python, a function can return any  number of values.

In [ ]:
def sum_sub(a,b):
  sum=a+b
  sub=a-b
  return sum,sub
x,y=sum_sub(100,50)
print('the sum is :',x)

print('the sub is :',y)

the sum is : 150
the sub is : 50

In [ ]:
def calc(a,b):
  sum=a+b
  sub=a-b
  return sum,sub
t1=calc(10,20)
print('the results are')
for i in t1:
  print(i)

the results are
30
-10

Types of arguments:
* in the above example
* * a,b are called formal arguments. (at the time of function creating)
* * 10,20 are called actual arguments. (passing values)

There are 4 types of actual arguments in python:
* 1) positional arguments
* 2) keyword arguments
* 3) Default arguments
* 4) Variable length arguments

1) positional arguments:
* these are the arguments passed to function in correct positional order

In [ ]:
def sub(a,b):
  print(a-b)
sub(100,200)
sub(200,100)

-100
100

* the number of arguments & position of arguments must be matched. If we change the order then result may be changed.

2) key arguments:
* we can pass argument values by keywords i.e by parameter name.

In [ ]:
def wish(name,msg):
  print('hello',name,msg)
wish('ravi','good morning')
wish(name='ravi',msg='good morning')
wish(msg='good morning',name='ravi') # order is not important when we are assign variable names to paasing values

hello ravi good morning
hello ravi good morning
hello ravi good morning

 3) Default arguments:
* we can provide default values for our positional arguments.

In [ ]:
def wish(name='guest'):
  print('hello',name,'good morning') 
wish('ravi')      # if you pass values it will print user arguments

wish()            # if you are not passing values default value is printed

hello ravi good morning
hello guest good morning

4)Variable length arguments:
* we can pass variable number of arguments(by user choice)to our function, such type of arguments are called VLA.
* we can declare a variable length argument with "*" symbol as -- (def f1(*n):)

In [ ]:
def sum(*n):
  total=0
  for n1 in n:
    total=total+n1
    print('the sum=',total)
sum(10,20)

sum(10,20,30,40)

In [ ]:
def f(a1,a2,a3=4,a4=5):
  print(a1,a2,a3,a4)
f(3,2)          # it will print pre defined values
f(13,15,27,39)   # always prefers users prints user values
f(a4=23,a2=43,a1=10) # without user value by default values printed

3 2 4 5
13 15 27 39
10 43 4 23

* we must pass two values on it (definate)

In [ ]:
f()

TypeError: ignored

Types of variable in python:
* 1)Global variables
* 2)Local variables

1)Global variables: the variables which are declared outside of function are called GV.
* these variables can be accessed in all functions of that module.

In [ ]:
a=10

def f1():
  print(a)

def f2():
  print(a)

f1()

f2()  # here we are declaring variables outside of the function

10
10

In [ ]:
def f1():
  print(a)

def f2():
  print(a)

a=10

f1()
# any where you can declare variables to functions

10

* we can't declare variables outside of the called functions
* declare before callable function.

In [ ]:
def f1():
  print(a)

def f2():
  print(a)

f1()
a=10

NameError: ignored

Day-1 TO Day-15

---
---